volumes:
  nextcloud:

services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - nextcloud:/var/www/html
    ports:
      - 8080:80
    restart: unless-stopped
