volumes:
  nextcloud:

services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID={{ UID }}
      - PGID={{ GID }}
      - TZ={{ TZ }}
    volumes:
      - nextcloud:/var/www/html
    ports:
      - 8080:80
    restart: unless-stopped
